body {
    background-color: #f7f7f7;
}

h1, h4 {
    margin-top: 40px;
    font-family: Outfit;
    font-weight: 600;
    text-align: center;
}

h4 {
    font-weight: 200;
}

recipe-card {
    width: auto;
    float: left;
}

#recipes-container {
    margin: 0 auto;
    margin-top: 90px;
    padding: 20px;
    max-width: 900px;
    min-height: 400px;
}

.heading {
    margin: 0 auto;
    max-width: 900px;
}


@media screen and (max-width: 950px){
    recipe-card {
        width: 100%;
    }

    #recipes-container {
        max-width: 430px;
        min-width: 350px;
    }

    .heading {
        max-width: 430px;
        min-width: 400px;
    }
}
